.home-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
  
.home-text {
    position: absolute;
    width:70%;
    bottom: 40%;
    text-align: center;
    font-size: 2.5rem;
    color: aliceblue;
}
  
.home-text h1 {
    font-size: 4rem;
    text-align: center;

}

.home-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 75%;
    transform: translateX(-5%);
    
}

.about-container {
    display: flex;
    justify-content: flex-end;
    align-items: top;
}

.about-text {
    
}

.about-image {
    margin-top: 0;
    padding-top: 0;
    object-fit: cover;
    overflow-x: hidden;
}

p {
    margin: 0;    
}


  